<form [formGroup]="authForm" (ngSubmit)="onSignin()" class="auth-form">
  <div class="form-group">
    <label for="email">Mail</label>
    <input
      class="form-control"
      type="email"
      formControlName="email"
      id="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      class="form-control"
      type="password"
      formControlName="password"
      id="password"
      placeholder="Enter password"
    />
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">
    Sign In
  </button>
</form>
