<div class="wrapper">
  <div class="header">
    <button class="btn btn-dark btn-logout" (click)="onLogout()">
      Logout
    </button>
    <h1>USERS-LIST</h1>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col" style="text-align: end;" *ngIf="isAdmin()">
          <button class="btn btn-primary" (click)="openModal(null)">
            Create
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td class="btn-group user-btn-group" *ngIf="isAdmin()">
          <button class="btn btn-info" (click)="openModal(user)">Change</button>
          <button class="btn btn-danger" (click)="onDeleteUser(user.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
