.wrapper {
  margin: 25px 100px;
}
.header {
  padding: .75rem;
  text-align: center;
}
.btn-logout {
  margin-top: 5px;
  float: right;
}
.table thead th,
.table td,
.table th {
  vertical-align: middle;
}
.user-btn-group {
  display: table-cell;
  text-align: end;
}
