<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        class="form-control"
        type="text"
        formControlName="name"
        id="name"
        placeholder="Enter name"
      />
    </div>
    <div class="form-group">
      <label for="email">Mail</label>
      <input
        class="form-control"
        type="email"
        formControlName="email"
        id="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        class="form-control"
        type="password"
        formControlName="password"
        id="password"
        placeholder="Enter password"
      />
    </div>
    <div
      class="form-group btn-group btn-group-toggle"
      ngbRadioGroup
      name="role"
      formControlName="role"
    >
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="user"/>User
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="admin"/>Admin
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" type="submit" [disabled]="!userForm.valid">
      Save
    </button>
    <button type="button" class="btn btn-danger" (click)="onClose()">
      Cancel
    </button>
  </div>
</form>
